body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.screen{
    height: 500px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    background: #1E1E64;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 silver;
    -webkit-box-shadow: 0 4px 8px 0 silver;
    -moz-box-shadow: 0 4px 8px 0 silver;
    border-radius: 5px;
}
.form_container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form_container h1,h2{
    text-align: center;
    color: #B6244F;
    font-weight: bold;
}
.input-group label{
    margin-right: 15px;
    color: #C03E75;
    font-weight: bold;
    font-size: 22px;
}
.input-group input{
    width: 100%;
}
.input-group input:focus, .input-group input:hover{
    box-shadow: 0 2px 2px 0 silver;
    -webkit-box-shadow: 0 2px 2px 0 silver;
    -moz-box-shadow: 0 2px 2px 0 silver;
}
small, .sen{
    color: #BD355F;
    font-size: 17px;
}
.form-group label{
    color: #C03E75;
    font-size: 18px;
    font-weight: bold;
}
.button_container{
    padding: 0 2rem;
}
.reg_btn, .login_btn{
    width: 50%;
    background: #C24B47 !important;
    font-weight: bold;
    color: #1E1E64;
    font-size: 22px;
}
.reg_btn:hover, .login_btn:hover{
    box-shadow: 0 4px 8px 0 silver;
    -webkit-box-shadow: 0 4px 8px 0 silver;
    -moz-box-shadow: 0 4px 8px 0 silver;
}
.reg_btn:focus, .login_btn:focus{
    box-shadow: none !important;
    outline: 0px !important;
}
.link1 a, .link2 a{
    color: #C24B47;
    font-size: 18px;
}
.link1 a:hover, .link2 a:hover{
    text-decoration: none;
    font-weight: bold;
}

.screen1{
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
.screen1 .heading{
    margin: 30px;
    color: #B6244F;
}
.input_task{
    height: 50px;
    margin-right: 10px;
    border: 2px solid #4E0408;
    font-size: 18px;
    border-radius: 10px;   
}
.task_btn{
    height: 40px;
    color: #4E0408;
    background: #C24B47 !important;
    border: 2px solid #C24B47;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
}
.task_btn:hover{
    box-shadow: 0 2px 2px 0 silver;
    -webkit-box-shadow: 0 2px 2px 0 silver;
    -moz-box-shadow: 0 2px 2px 0 silver;
}
.empty{
    text-align: center;
    margin: 20px auto;
}
.show-todo-section{
    margin-bottom: 100px;
    background: whitesmoke;
    border-radius: 5px;
    margin-top: 35px;
}
.todo-item{
    width: 95%;
    height: 120px;
    margin: 10px auto;
    padding: 10px 20px;
    background: rgb(223, 211, 211);
    border: 2px solid #4E0408;
    border-radius: 5px;
}
.todo-item p{
    font-size: 18px;
    color: #B6244F;
    font-weight: bold;
}
.todo-item small{
    width: 100%;
    color: #4E0408;
    font-size: 14px;
    font-weight: bold;
}
.todo-item input{
    margin: 10px 5px;
}
.remove-to-do{
    float: right;
    color: red;
    text-align: right;
    font-size: 22px;
    padding: 5px 10px 0px 0px;
    cursor: pointer;
}
.remove-to-do:hover{
    font-weight: bold;
}
.checked{
    color: #4E0408 !important;
    text-decoration: line-through;
}
#errorMes{
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0px auto;
    color: rgb(139, 19, 19);
    padding: 10px;
    height: 35px;
}





